<!DOCTYPE html>
<html lang="zh-cn">
<body>
    <div class="gate ch">
        <div class="container links">
          <h2 class="chtitle">我的
            <span>好朋友</span>们</h2>
          <!-- 友链 -->
          <div class="clear" id="links">
            <script>var xhr = new XMLHttpRequest();
              xhr.open('GET', 'https://mxapi.nekotc.cn/api/v2/links/all', true);
              xhr.setRequestHeader('Content-Type', 'application/json');

              xhr.onload = function() {
                if (xhr.status >= 200 && xhr.status < 300) {
                  var data = JSON.parse(xhr.responseText);
                  var links = data.data;

                  var linksContainer = document.getElementById('links');
                  links.forEach(function(link) {
                    var linkElement = document.createElement('div');
					linkElement.innerHTML = `
						<a href="${link.url}" target="_blank">
							<div class="item">
								<div class="avatar"> <img src="${link.avatar}"> </div>
								<div class="inner">
									<h5>${link.name}</h5>
									<p>${link.description}</p>
								</div>
							</div>
						</a>`;
                    linksContainer.appendChild(linkElement);
                  });
                } else {
                  console.error('请求友链失败' + xhr.status);
                }
              };

              xhr.send();</script>
          </div>
        </div>
    </div>
</body>
</html>